[submodule "themes/lightbi-hugo"]
	path = themes/lightbi-hugo
	url = https://github.com/binokochumolvarghese/lightbi-hugo
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "themes/blowfishSS"]
	path = themes/blowfishSS
	url = https://github.com/alopezespino/blowfishSS.git
	branch = main
